<div class='source-bbl_w'>
	<div class='js-bbl'>
		<div class='source-bbl_form'>
			<textarea class='source-bbl_it' placeholder='Your comment...'></textarea>
			<div class='source-bbl_sep'></div>
			<input class='source-bbl_name' placeholder='Signature'/>
			<div class='source-bbl_actions'>
				<button class='js-bbl_submit'>Save</button>
				<a href='#' class='js-bbl_cancel'>Cancel</a>
			</div>
		</div>
		<div class='source-bbl_info'>
			<div class='source-bbl_tx'></div>
			<div class='source-bbl_author'></div>
			<div class='js-bbl_close'></div>
		</div>
	</div>
	<a href="#" class='js-bbl_point'></a>
</div>"